/* farver */
$baggrund: #FAF9F3;
$lys-skrift: #FAF9F3;
$blaa: #143994;
$groen: #D0E36F;
$lilla: #9771C0;
$graa: #2C2C2C;


/* spacing */
$spacing-knap: 2rem;

/* border radius */
$radius-rund: 50%;
$radius-aflang: 50px;

/* fonts */
$font-overskrift: 'Impact', sans-serif;
$font-brodtekst: 'Jost', sans-serif;

/* mixins */
@mixin flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin knap($bg-color: $lilla, $tekstfarve: $lys-skrift) {
    background-color: $bg-color;
    color: $tekstfarve;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

