@use 'partial';

// general styling //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: partial.$baggrund;
    font-family: partial.$font-brodtekst;
}

img, video {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 4.7rem;
    font-family: partial.$font-overskrift;
    color: partial.$groen;
}

h2 {
    font-size: 2rem;
    font-family: partial.$font-overskrift;
    color: partial.$blaa;
    margin-bottom: 1.5rem;
}

p {
    color: partial.$graa;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 1rem;

}

section {
    min-height: 100vh;
}

.split-layout {
    @include partial.flex($justify: space-between, $align: center);
    gap: 0rem;
    position: relative;
}

.tekst-side {
    width: 70%;
    background-color: partial.$groen;
    border-radius: 1.5rem;
    padding: 3rem;
}

.telefon-side {
    width: 30%;
    @include partial.flex;
    padding: 2rem;
}

// knapper //

.knap-primær {
    @include partial.knap;
    padding: 0.8em 1.5em;
    font-family: partial.$font-overskrift;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-top: partial.$spacing-knap;
}

.valg-knap {
    @include partial.knap;
    @include partial.flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: partial.$radius-rund;
    font-size: 1.2rem;
}

.knap-tilbage {
    @include partial.knap;
    @include partial.flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: partial.$radius-rund;
    font-size: 1.8rem;
    align-self: flex-start;
    margin: 0.5rem 1rem 1.5rem 2rem;
}

.knap-hero {
    @include partial.knap;
    @include partial.flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: partial.$radius-rund;
    font-size: 2rem;
    align-self: flex-end;
    margin-bottom: 1rem;
}

// hero sektion //

#screen-hero {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;

    }
    
    .hero {
        @include partial.flex($justify: space-between, $align: flex-end);
        padding: 2rem 4rem 2.5rem 4rem;
        width: 100%;
        position: relative;
        z-index: 1;
        min-height: 100vh;
    }

    .hero-tekst {
        max-width: 65%;
    }
    
    h1 {
        margin-bottom: 1.5rem;
    }

    p {
        color: partial.$lys-skrift;
        font-size: 1.4rem;
        margin-top: 1.3rem;
        font-weight: 300;
    }

    .hero-spoergsmaal {
        color: partial.$groen;
        font-family: partial.$font-overskrift;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 2.5rem;
    }
}

// intro sektion //

#screen-introduction {
    .split-layout {
        padding-left: 3rem;
    }
}


// spørgsmål sektioner //

.valg-raekke {
    @include partial.flex($justify: flex-start, $align: center);
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.valg-tekst {
    font-size: 1.3rem;
    color: partial.$graa;
}

.vidste-du-at {
    font-family: partial.$font-overskrift;
    color: partial.$blaa;
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.laeringstekst {
    font-style: italic;
}

// resultat sektioner //

.resultat-billede {
    position: relative;
    min-height: 100vh;
    @include partial.flex($justify: flex-start, $align: flex-end);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .resultat-tekst {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 3rem;
        width: 65%;
    }

    h2.resultat-overskrift {
        color: partial.$groen;
        font-size: 4.7rem;
        margin-bottom: 1rem;
    }

    p {
        color: partial.$lys-skrift;
        font-size: 1.4rem;
        margin-top: 1.3rem;
        font-weight: 300;
    }

    .shit-happens {
        color: partial.$groen;
        font-family: partial.$font-overskrift;
        font-size: 1.8rem;
        margin-top: 2.5rem;
    }

    .knap-proev-igen {
        position: absolute;
        bottom: 3rem;
        right: 4rem;
    }
}

#screen-bad-end {
    .resultat-tekst {
        width: 70%;
    }
}

// mobil styling //

@media (max-width: 768px) {
    .telefon-side {
        display: none;
    }

    .tekst-side {
        width: 100%;
        border-radius: 1.5rem;
        order: 2;
        padding: 3rem 2.5rem;

    }

    .knap-tilbage {
        order: 3;
        margin-top: 2rem;
        margin-bottom: 3rem;
        align-self: flex-start;
    }

    .split-layout {
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;
    }

    .valg-knap {
        flex-shrink: 0;
    }

    .valg-række {
        align-items: flex-start;
     }       

    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2rem;
    }


    p {
        font-size: 1.2rem;
    }

    #screen-hero {

        .hero {
            padding: 2rem;
        }

        .hero-spoergsmaal {
            font-size: 1.8rem;
        }

        .hero-tekst {
            max-width: 80%;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;
        }

    }

    #screen-introduction {
        .split-layout {
            padding-left: 1rem;
        }
    }

    #screen-good-end .resultat-billede .resultat-tekst,
    #screen-mid-end-ignore .resultat-billede .resultat-tekst,
    #screen-mid-end-escape .resultat-billede .resultat-tekst,
    #screen-bad-end .resultat-billede .resultat-tekst {
        position: relative;
        bottom: auto;
        left: auto;
        width: 100%;
        padding: 2rem;
    }

    .resultat-billede {
       
        img {
            height: 100vh;
        }

        h2.resultat-overskrift {
            font-size: 2.8rem;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;
        }

        .shit-happens {
            font-size: 1.5rem;
            margin-top: 1.2rem;
            line-height: 1.4;
        }
    }
}