@charset "UTF-8";
/* farver */
/* spacing */
/* border radius */
/* fonts */
/* mixins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAF9F3;
  font-family: "Jost", sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 4.7rem;
  font-family: "Impact", sans-serif;
  color: #D0E36F;
}

h2 {
  font-size: 2rem;
  font-family: "Impact", sans-serif;
  color: #143994;
  margin-bottom: 1.5rem;
}

p {
  color: #2C2C2C;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

section {
  min-height: 100vh;
}

.split-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  position: relative;
}

.tekst-side {
  width: 70%;
  background-color: #D0E36F;
  border-radius: 1.5rem;
  padding: 3rem;
}

.telefon-side {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.knap-primær {
  background-color: #9771C0;
  color: #FAF9F3;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.8em 1.5em;
  font-family: "Impact", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.valg-knap {
  background-color: #9771C0;
  color: #FAF9F3;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.2rem;
}

.knap-tilbage {
  background-color: #9771C0;
  color: #FAF9F3;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 1.8rem;
  align-self: flex-start;
  margin: 0.5rem 1rem 1.5rem 2rem;
}

.knap-hero {
  background-color: #9771C0;
  color: #FAF9F3;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 2rem;
  align-self: flex-end;
  margin-bottom: 1rem;
}

#screen-hero {
  position: relative;
}
#screen-hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
#screen-hero .hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 4rem 2.5rem 4rem;
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 100vh;
}
#screen-hero .hero-tekst {
  max-width: 65%;
}
#screen-hero h1 {
  margin-bottom: 1.5rem;
}
#screen-hero p {
  color: #FAF9F3;
  font-size: 1.4rem;
  margin-top: 1.3rem;
  font-weight: 300;
}
#screen-hero .hero-spoergsmaal {
  color: #D0E36F;
  font-family: "Impact", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

#screen-introduction .split-layout {
  padding-left: 3rem;
}

.valg-raekke {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.valg-tekst {
  font-size: 1.3rem;
  color: #2C2C2C;
}

.vidste-du-at {
  font-family: "Impact", sans-serif;
  color: #143994;
  font-size: 1.7rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.laeringstekst {
  font-style: italic;
}

.resultat-billede {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.resultat-billede img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.resultat-billede .resultat-indhold {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem;
  width: 65%;
}
.resultat-billede h2.resultat-overskrift {
  color: #D0E36F;
  font-size: 4.7rem;
  margin-bottom: 1rem;
}
.resultat-billede p {
  color: #FAF9F3;
  font-size: 1.4rem;
  margin-top: 1.3rem;
  font-weight: 300;
}
.resultat-billede .shit-happens {
  color: #D0E36F;
  font-family: "Impact", sans-serif;
  font-size: 1.8rem;
  margin-top: 2.5rem;
}
.resultat-billede .knap-proev-igen {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
}

#screen-good-end .resultat-indhold, #screen-bad-end .resultat-indhold, #screen-mid-end-ignore .resultat-indhold, #screen-mid-end-escape .resultat-indhold {
  width: 100%;
}
#screen-good-end .resultat-tekst, #screen-bad-end .resultat-tekst, #screen-mid-end-ignore .resultat-tekst, #screen-mid-end-escape .resultat-tekst {
  width: 65%;
}

#screen-bad-end .resultat-tekst {
  width: 68%;
}

@media (max-width: 768px) {
  .telefon-side {
    display: none;
  }
  .tekst-side {
    width: 100%;
    border-radius: 1.5rem;
    order: 2;
    padding: 3rem 2.5rem;
  }
  .knap-tilbage {
    order: 3;
    margin-top: 2rem;
    margin-bottom: 3rem;
    align-self: flex-start;
  }
  .split-layout {
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
  }
  .valg-knap {
    flex-shrink: 0;
  }
  .valg-række {
    align-items: flex-start;
  }
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  #screen-hero .hero {
    padding: 2rem;
  }
  #screen-hero .hero-spoergsmaal {
    font-size: 1.8rem;
  }
  #screen-hero .hero-tekst {
    max-width: 80%;
  }
  #screen-hero p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  #screen-introduction .split-layout {
    padding-left: 1rem;
  }
  .resultat-billede {
    flex-direction: column;
    justify-content: flex-end;
  }
  .resultat-billede img {
    height: 100vh;
  }
  .resultat-billede h2.resultat-overskrift {
    font-size: 2.8rem;
  }
  .resultat-billede p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .resultat-billede .shit-happens {
    font-size: 1.5rem;
    margin-top: 1.2rem;
    line-height: 1.4;
  }
  .resultat-billede .resultat-indhold {
    position: relative;
    width: 100%;
    padding: 2rem;
  }
  .resultat-billede .knap-proev-igen {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    z-index: 1;
  }
  #screen-good-end .resultat-tekst, #screen-bad-end .resultat-tekst, #screen-mid-end-ignore .resultat-tekst, #screen-mid-end-escape .resultat-tekst {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */