@use 'partial';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: partial.$baggrund;
    font-family: partial.$font-brodtekst;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    font-family: partial.$font-overskrift;
    color: partial.$blaa;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    color: partial.$blaa;
    font-size: 1rem;
    line-height: 1.5;
}

section {
    min-height: 100vh;
}

.split-layout {
    @include partial.flex($justify: space-between, $align: center);
    padding: 0 4rem;
}

.tekst-side {
    width: 60%;
}

.telefon-side {
    width: 40%;
    @include partial.flex;
}

.knap-primær {
    @include partial.knap;
    padding: 0.8em 1.5em;
    font-family: partial.$font-overskrift;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: partial.$spacing-knap;
}

.valg-knap {
    @include partial.knap;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: partial.$radius-rund;
    font-size: 1rem;
}

.knap-tilbage {
    @include partial.knap;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: partial.$radius-rund;
    font-size: 2rem;
}